---
title: Forschungsgruppe Neuropsychologie Magdeburg - Zählelab - PD Dr. Tino Zähle
description: Die Forschungsgruppe Neuropsychologie (Zählelab) des Otto-von-Guericke-Universitätsklinikums für Neurologie
Magdeburg unter der Leitung von PD Dr. Tino Zähle untersucht non-invasive Verfahren der Hirnstimulation.
image: images/favicon.png
bottom_image: /images/all-logo.png
map: https://goo.gl/maps/uxLHdTGwgho2AscT8
latitude: 52.1012625
longitude: 11.6172758
address: Otto-von-Guericke-Universität Magdeburg, Universitätsklinik für Neurologie, Sektion Neuropsychologie, Haus 60b,
Leipziger Straße 44, 39120 Magdeburg
zoom:
---

<section class="hero" style="background-image: url(https://zaehlelab.org/images/Gruppenbild_SW.png)">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<center>
				<h1 class="editable">Forschungsgruppe Neuropsychologie</h1><br>
				<h3 class="editable">Universitätsklinik für Neurologie Magdeburg</h3>
			</center>
		</div>
	</div>
	<!-- <div class="learn-more">
		<a href="#general">
			<center>
				<p class="subtext editable">Mehr</p>
				<img src=images/arrow.gif>
			</center>
		</a>
	</div> -->
</section>
<!-- <p class="editable"></p> -->

<div class="content" class="container-fluid">
	<section class="info" id="general">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Forschungsgruppe Neuropsychologie</h2>
				<p class="editable">
					Der aktuelle Forschungsschwerpunkt der Sektion Neuropsychologie ist an der Schnittstelle zwischen
					klinisch-neuropsychologischer, anwendungsorientierter Forschung und grundlagenwissenschaftlichen
					Untersuchungen
					menschlichen Verhaltens angesiedelt. Speziell fokussieren wir auf die systematische Analyse direkter
					neurofunktioneller
					Modulation der Reaktivität des menschlichen Gehirns mittels nicht-invasiver Hirnstimulationsmethoden
					(transkranielle
					Gleichstromstimulation (tDCS), transkranielle Wechselstromstimulation (tACS), transkutane
					Vagusnervstimulation (taVNS)),
					sowie auf die neuropsychologische Untersuchung kognitiver Auswirkungen der Tiefen Hirnstimulation
					(THS) zur Behandlung
					neurologisch-neurodegenerativer Erkrankungen. Das methodische Forschungsrepertoire der AG
					Neuropsychologie beinhaltet
					dabei sowohl verhaltensbasierte psychophysische Untersuchungsmethoden, als auch hämodynamisch (fMRT)
					und
					elektro-/magnetophysiologisch (EEG, MEG) basierte moderne bildgebende Verfahren. Ein weiterer
					Forschungsschwerpunkt
					liegt in der systematischen methodischen Weiterentwicklung nicht-invasiver
					Hirnstimulationsverfahren, deren Kombination
					mit elektrophysiologischen (EEG/MEG) Verfahren sowie der Untersuchung der
					kognitiv-neurowissenschaftlichen sowie
					klinischen Anwendung.
				</p>
				<!-- <p class="editable">Für mehr Informationen: <a
						href="www.neuropsychologie.ovgu.de/">www.neuropsychologie.ovgu.de/</a></p> -->
				<!--
                    <p class="editable">
			        </p>
				<h2 class="editable"></h2>
			        <p class="editable">
				</p>
-->
			</div>
		</div>
	</section>

	<section class="pad" id="team">
		<div class="container">
			<h2 class="editable">Team</h2>
			<ul class="staff">
				{% for person in site.staff_members %}
				<li>
					<div class="square-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="{{ person.website }}">{{ person.name }}</a></div>
					<div class="position">
						<details>
							<summary class="position">{{ person.position }}</summary>
							<p class="blurb">
								{{ person.blurb }}
							</p>
							<p class="contact">
								<a href="mailto:{{ person.contact }}" class="contact">{{ person.contact }}</a><br>
							</p>
						</details>
					</div>
					<!-- <div class="position">{{ person.blurb }}</div> -->
				</li>
				{% endfor %}
			</ul>
			<h2 class="editable">Alumni</h2>
			<ul class="staff">
				{% for person in site.alumni_members %}
				<li>
					<div class="square-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})">
					</div>
					<div class="name"><a target="_blank" href="{{ person.website }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
					<div class="position">{{ person.blurb }}</div>
				</li>
				{% endfor %}
			</ul>
			<!-- 			<p class="editable">
				</p>
	 -->
		</div>
	</section>

	<section class="pad" id="research">
		<div class="container">
			<h2 class="editable">Forschung</h2>
			<p class="editable">
				Die Forschungsarbeit der Sektion Neuropsychologie lässt sich in folgende Bereiche unterteilen:
			<details>
				<summary>Auditorische transkranielle Elektrostimulation</summary>
				<p class="editable">
					Im Rahmen eines von der DFG (SFB-TRR31, Förderperiode TPA9, 2009 – 2017, DFG- Sachmittel,
					Förderperiode 2018 – 2022) und
					dem CBBS Magdeburg (CBBS Science-Campus 2018-2020, CBBS LSA-Fellow 2020-2022) geförderten
					Projektes
					untersuchen wir die
					Möglichkeiten der systematischen Modulation der individuellen neuronalen Reaktivität und der
					damit
					einhergehenden
					auditorischen Wahrnehmung (Zaehle et al., 2010; Heimrath et al., 2016, 2020; Rufener et al.,
					2017,
					2020a,b; Ruhnau et
					al., 2020). Darüber hinaus analysieren wir die Möglichkeiten der Modulation der menschlichen
					auditorischen Wahrnehmung
					durch transkranielle Elektrostimulationsmethoden (TES) zur potentiellen Behandlung
					neuropsychiatrischer
					Entwicklungsstörungen. Wir konnten in diesem Projekt bisher zeigen, dass TES die neuronale
					Erregbarkeit des
					auditorischen Kortex und in der Konsequenz, akustische Wahrnehmungsprozesse direkt beeinflussen
					kann. Daher untersuchen
					wir aktuell gezielt die individuellen Parameter einer optimierten auditorischen TES an gesunden
					Probanden sowie das
					Potential der TES als therapeutisches Instrument für die begleitende Behandlung bei Dyslexie
					(Rufener et al., 2019,
					2021).
				</p>
			</details>
			<details>
				<summary>Klinisches Potential der transkraniellen Elektrostimulation</summary>
				<p class="editable">
					Neben der Anwendung der TES bei Dyslexie, untersuchen wir das therapeutische Potential der TES
					zur
					Verbesserung der
					Aufmerksamkeitsleistungen bei Patienten die an einer ADHS leiden (Breitling et al., 2016, 2019,
					2021), sowie im Rahmen
					der symptomatischen Fatigue Behandlung bei Patienten mit Multipler Sklerose (Fiene et al., 2018,
					Linnhoff et al., 2019).
					In einem durch die Gemeinnützige Hertie-Stiftung gefördertes Projekt (Förderperiode 2018 – 2021)
					untersuchen wir aktuell die
					klinische Anwendung einer repetitiven TES zur Behandlung des Fatigue-Syndroms bei Multipler
					Sklerose.
				</p>
			</details>
			<details>
				<summary>Neurophysiologische Grundlagen der transkraniellen aurikulären Vagusnervstimulation</summary>
				<p class="editable">
					Im Rahmen eines durch die Europäischen Fonds für regionale Entwicklung (EFRE) geförderten
					Verbundprojektes (CBBS-NeuroNetwork, Förderperiode 2019 – 2022) untersuchen wir die
					neurophysiologischen Grundlagen
					und den potentiellen
					therapeutischen Einsatz der transkutane Vagusnervstimulation (taVNS) (Rufener et al., 2018;
					Keute et
					al., 2018a,b, 2019a,b,c).
				</p>
			</details>
			<details>
				<summary>Physiologische und kognitive Auswirkungen der Tiefen Hirnstimulation</summary>
				<p class="editable">
					Im Rahmen eines durch die DFG (SFB-779, TPA02, Förderperiode 2012 – 2019), sowie durch den
					Europäischen Struktur- und
					Investitionsfonds (ESF) im Programm “Sachsen-Anhalt WISSENSCHAFT Internationalisierung” (ABINEP
					2018
					- 2022) geförderten
					Projekt gehen wir gezielt der Frage nach, welche Auswirkungen die Tiefe Hirnstimulation (THS)
					des
					Nucleus accumbens
					(Nacc) und des Nucleus subthalamicus (STN) bei der Behandlung von Zwangs- und Suchterkrankungen,
					sowie die THS des STN
					bei der Behandlung der Parkinson Erkrankung auf Prozesse der Handlungssteuerung und
					Belohnungsverarbeitung hat. Im
					Rahmen dieses Projektes werden sowohl elektrophysiologische Signale direkt von den stimulierten
					subkortikalen Strukturen
					im Menschen (Zaehle et al., 2013; Dürschmid et al., 2015; Sweeney-Reed et al., 2014, 2015;
					Staudigl et al., 2012; Bauch et al., 2018), als auch die Auswirkungen einer chronischen THS auf das
					emotionale (Wagenbreth et
					al., 2016, 2019) und kognitive Verhalten der Patienten (Wagenbreth et al., 2015; Fischer et al.,
					2015; Zaehle et al.,
					2017, Panther et al., 2019) analysiert.
				</p>
			</details>
			<details>
				<summary>Closed-loop TES</summary>
				<p class="editable">
					Außerdem steht die Untersuchung der Grundlagen, der Auswirkungen auf den menschlichen Kortex, sowie
					die methodische
					Weiterentwicklung der TES im Zentrum der wissenschaftlichen Arbeit der Sektion Neuropsychologie.
					Dabei
					konzentrieren wir uns
					auf die methodische Evaluation der Anwendung und die damit untrennbar verbundene
					Individualisierung
					der
					Stimulationsparameter sowie die individualisierte Echtzeitkontrolle durch neuronale Feedback
					Systeme
					(closed-loop).
				</p>
			</details>
			<details>
				<summary>Transkranielle Elektrostimulation mittels Temporal Interference (TI)</summary>
				<p class="editable">
					Im Rahmen eines durch die Europäischen Fonds für regionale Entwicklung (EFRE) geförderten
					Verbundprojektes (CBBS-NeuroNetwork, Förderperiode 2019 – 2022) untersuchen wir die Wirksamkeit
					einer
					neueren Form der Elektrostimulation. Transkranielle Elektrostimulation mittels Temporal Interference
					hat das Potential tiefere Hirnstrukturen nicht-invasiv zu stimulieren. Wir arbeiten eng mit
					Neurobiologen und Computeringenieuren am Leibniz-Institut für
					Neurobiologie sowie der Otto-von-Guericke-Universität zusammen.
					Wir nutzen sowohl Verhaltensmaße, Software-Modellierung, bildgebende Verfahren, als auch
					Elektrophysiologie als Evaluierungstechniken.
				</p>
			</details>
			</p>
			<!-- <p class="editable"></p>

		</p>
			<ul>
				<li></li>
					<li></li>
				<li></li>
				<li></li>
				<li></li>
		</ul>
		<p class="editable"> Else: </p>
		<ul>
			<li></li>
			<li></li>
		</ul>
		</p> -->
		</div>
	</section>

	<section class="info" id="publications">
		<div class="container">
			<div class="text">
				<h2 class="editable">Publikationen</h2>
				<p class="editable">
					<!-- <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=zaehle+t" target="_blank">Für
								Pubmed-Übersicht bitte Link folgen</a> -->
					<script
						src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fgroups%2F2941345%2Fitems%3Fkey%3Dvts9W21SoZpIOsD4kTao4YCr%26format%3Dbibtex%26limit%3D100&jsonp=1&folding=1&hidemenu=true"></script>
				</p>
			</div>
		</div>
	</section>

	<section class="info" id="press">
		<div class="container">
			<div class="text">
				<h2 class="editable">Presse</h2>
				<p><a href="http://www.kneu.ovgu.de/unimagdeburg_mm/Downloads/Kliniken/Neurologie/Medien/2016/160613UMMD_Pressespiegel-p-56798.pdf"
						target="_blank">"Stromreize gegen Schulschwächen"</a>&nbsp;♦ Zeitungsartikel erschienen am
					11.06.2016,
					Magdeburger Volksstimme</p>
				<p><a title="Dyslexie_SNF_horizonte_113_de"
						href="/unimagdeburg_mm/_users/reppling/Dyslexie_SNF_horizonte_113_de.pdf" target="_blank">"Den
						Buchstabensalat im Kopf entwirren"</a> ♦ Artikel erschienen am 06.06.2017, Horizonte Nr. 113,
					Schweizerischer Nationalfonds - Akademien Schweiz</p>
				<p><a href="https://www.pharma-relations.de/news/hertie-stiftung-foerdert-gemeinsam-mit-sechs-pharmaunternehmen-nicht-medikamentoese-ms-therapie"
						target="_blank">"Hertie-Stiftung fördert nicht-medikamentöse MS-Therapie"</a> ♦ Online-Artikel
					erschienen am
					23.04.2018, pharmaRelations</p>
			</div>
	</section>

	<section class="info" id="interns">
		<div class="container">
			<div class="text">
				<h2 class="editable">Abschlussarbeiten</h2>
				<p class="editable">Wir bieten als Forschungsgruppe fortlaufend die Möglichkeit für
					Studierende der
					Psychologie, Neurowissenschaften,
					Biosystemtechnik, Philosophie-Neurowissenschaften-Kognition und Medizin (sowie verwandter Fächer)
					Bachelor-, Master- als
					auch Medizinische Doktorarbeiten zu schreiben.
				<details>
					<summary>Offene Themen</summary>
					{% capture my_include %}{% include abschlussarbeiten.md %}{% endcapture %}
					{{ my_include | markdownify }}
				</details>
				<details>
					<summary>Frühere Jahre</summary>
					{% capture my_include %}{% include abschlussarbeiten_past.md %}{% endcapture %}
					{{ my_include | markdownify }}
				</details>
				</p>
			</div>
		</div>
	</section>

	<section class="info" id="studies">
		<div class="container">
			<div class="text">
				<h2 class="editable">Studienteilnahme</h2>
				<details>
					<summary>Akustische und visuelle Wahrnehmung bei LRS</summary>
					<p class="editable">
						Aktuell führen wir <strong>Studien zur akustischen und visuellen Wahrnehmung</strong> durch, für
						die wir gesunde Teilnehmer und Teilnehmerinnen im Alter von 18 – 35 Jahren suchen.</p>
					<p>Zudem führen wir klinische Studien zu <strong>Morbus Parkinson und Multipler Sklerose
							(MS)</strong>
						durch, für die wir Betroffene suchen, die unsere Forschung mit ihrer Teilnahme unterstützen
						möchten.
					</p>
					<p>In Zusammenarbeit mit der Klinik für Kinder- und Jugendpsychiatrie Magdeburg untersuchen wir, ob
						die Wirkung eines gängigen orthographiebasierten Trainings bei <strong>Lese-Rechtschreibstörung
							(LRS, Legasthenie, Dyslexie)</strong> mittels schwacher elektrischer Impulse zusätzlich
						verbessert werden kann. Für diese Studie suchen wir Mädchen und Jungen im Alter von 8 – 18
						Jahren mit einer
						Lese-Rechtschreibstörung.</p>
					<p>Bei Interesse zur Teilnahme an unseren Studien, freuen wir uns über ein Mail an folgende
						Email-Adresse:<br><br><a
							href="mailto:forschungsgruppe-neuropsychologie@ovgu.de">forschungsgruppe-neuropsychologie@ovgu.de</a>
					</p>
				</details>
				<details>
					<summary>Chronische Erschöpfung bei Multipler Sklerose</summary>
					<p><strong>Patienten/-innen mit Multiple Sklerose gesucht! </strong></p>
					<p>Liebe Patientin, lieber Patient,</p>
					<p>im Rahmen unserer Forschung untersuchen erschöpfungs-bedingte Veränderungen sowie mögliche
						Therapiemaßnahmen zur Behandlung chronischer Erschöpfung bei Multipler Sklerose. Hierfür führen
						wir
						zurzeit drei verschiedene Studien durch, die sich in der Art der angewandten Methoden, Anzahl
						der
						Testtermine und Höhe der Aufwandsentschädigung unterscheiden.</p>
					<p>Bei der <a
							href="https://www.dmsg.de/multiple-sklerose-infos/ms-behandeln/symptomatische-therapie/fatigue/"
							target="_blank"><strong>Fatigue-Symptomatik </strong></a>handelt es sich um ein sehr
						häufiges
						Symptom der Multiplen Sklerose. Dabei besteht ein dauerhafter Antriebs- und Energiemangel, der
						sich
						sowohl auf die körperliche als auch auf die geistige Leistungsfähigkeit auswirken kann. Aktuelle
						wissenschaftliche Untersuchungen deuten darauf hin, dass von außen zugeführte (nicht-invasive)
						Elektrostimulation die Fatigue-Symptomatik bei Multipler Sklerose subjektiv als auch objektiv
						verbessern
						kann.</p>
					<p>Die <a href="https://de.wikipedia.org/wiki/Transkranielle_Gleichstromstimulation"
							target="_blank"><strong>transkranielle Elektrostimulation </strong></a>ist ein
						nicht-invasives
						Verfahren, bei dem Elektroden von außen auf die Kopfoberfläche gelegt werden um einen schwachen
						Strom zu
						applizieren wird. Die Methode ist absolut schmerzfrei und ungefährlich.</p>
					<p><strong>Teilnahmevoraussetzungen: </strong></p>
					<ul>
						<li>keine neurologischen oder psychiatrischen Erkrankungen neben der Multiplen Sklerose</li>
						<li>keine Einnahme von Antidepressiva oder Neuroleptika</li>
						<li>kein Schub oder Kortisoneinnahme in den letzten 3 Monaten.</li>
					</ul>
					<p><strong>Was erhalten Sie für Ihre Teilnahme:</strong></p>
					<ul>
						<li>als Dankeschön erhalten Sie je nach Studie eine Aufwandsentschädigung zwischen 30 bis 160 €
						</li>
						<li>Sie unterstützen unsere wissenschaftliche Forschung auf höchstem Niveau und erfahren mehr
							über
							die
							Entstehung und Wirkung von chronischer Erschöpfung bei Multipler Sklerose</li>
						<li>Sie ehalten zudem eine umfangreiche Darstellung Ihrer in der Studie gesammelten Daten</li>
					</ul>
					<p>Bei Interesse melden Sie sich bitte per E-Mail an <strong><a
								href="mailto:stefanie.linnhoff@med.ovgu.de">stefanie.linnhoff@med.ovgu.de</a></strong>
						oder
						rufen Sie uns an unter <strong>0391-6721683.</strong></p>
					<p><strong>Wir freuen uns auf Ihre Nachricht und beantworten Ihnen gern weitere Fragen.</strong></p>
				</details>
			</div>
	</section>

	<!--   <section class="achievements", id="achievements">
		<div class="container">
			<h2 class="editable">Main enhancements</h2>
        <p><a href=""></a></p>
    	</div>
  </section>
 -->

	<section class="info" , id="contact">
		<div class="container">
			<h2 class="editable">Kontakt</h2>
			<div class="contact-box">
				<div class="contact-details">
					<div class="google-maps">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2450.795537911472!2d11.614910151895828!3d52.10165257963757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a5f55b1861a43d%3A0xf6322c10a793a93!2sForschungsgruppe%20Neuropsychologie%20-%20Z%C3%A4hlelab!5e0!3m2!1sde!2sde!4v1613568284361!5m2!1sde!2sde"
							width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
							aria-hidden="false" tabindex="0"></iframe>
						<!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
						src="https://www.openstreetmap.org/export/embed.html?bbox=11.615362465381624%2C52.10088719952868%2C11.618736684322357%2C52.10243757220749&amp;layer=mapnik&amp;marker=52.10166156881469%2C11.61704957485199"
						style="border: 1px solid black"></iframe><br />
					<small><a
							href="https://www.openstreetmap.org/?mlat=52.10166&amp;mlon=11.61705#map=19/52.10166/11.61705">Größere
							Karte anzeigen</a></small> -->
					</div>
				</div>
				<div class="contact-details">
					<center>
						Otto-von-Guericke-Universität Magdeburg<br />
						Universitätsklinik für Neurologie<br />
						Sektion Neuropsychologie<br />
						Haus 60b<br />
						Leipziger Straße 44<br />
						39120 Magdeburg<br />
					</center>
				</div>
			</div>
		</div>
	</section>


	<section class="logos" , id="funding">
		<div class="container">
			<h2 class="editable">Funding</h2>
			<ul class="funding">
				{% for person in site.funding_members %}
				<li><a target="_blank" href="{{ person.website }}">
						<div class="square-image-logo"
							style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					</a>
					<!-- <div class="name"><a target="_blank" href="{{ person.website }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
					<div class="position">{{ person.blurb }}</div> -->
				</li>
				{% endfor %}
			</ul>
			<!-- 			<p class="editable">
					</p>
		 -->
		</div>
	</section>
</div>