.map {
	width: 100%;
	height: 440px;
}

.contact-box {
	margin: 0 auto;
	@extend %flexbox;
	@include flex-flow(wrap);

	form {
		width: 100%
	}

	p {
		margin: 0;
	}

	.contact-form, .contact-details  {
		@media #{$tablet} {
			@include flex(1, 1, 50%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 50%);
		}
	}

	.contact-details {
		font-size: .9em;
		margin-top: 60px;
	}
}

.funding {
	padding: 0;
	margin: 0;
	list-style: none;

	text-align: center;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;



	}
}