

.contact-box {
	margin: 0 auto;
	@extend %flexbox;
	@include flex-flow(wrap);

	form {
		width: 100%
	}

	p {
		margin: 0;
	}

	.contact-details {
		font-size: 1.38em;
		margin-top: 60px;

		@media #{$tablet} {
			@include flex(1, 1, 100%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 50%);
		}
	}

	.google-maps {
		position: relative;
		padding-bottom: 75%; // This is the aspect ratio
		height: 0;
		overflow: hidden;
	}
	.google-maps iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}
