.hero {
	color: #ffffff;
	text-align: center;
	// height: 75vh;  //#SR height: 100vh;
	//#SR min-height: 550px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	background-attachment: fixed;

	@media #{$tablet} {
		// background-size: cover;
	}

	@media #{$mid-point} {
		height: 30vh;
		// background-size: contain;
	}

	@media #{$desktop} {
		height: 30vh;
		// background-size: contain;
	}

	@media #{$desktop_large} {
		height: 50vh;
		background-size: auto;
		// background-size: contain;
	}


	&:before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;

	@media #{$desktop_large} {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0, transparent 100%);
		height: 50px;
	}

}


	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 70%;  //#SR
	}

	.hero-text-container {
		width: 900px;
		text-align: left;
		margin-top: 150px;  //#SR

		h1, h2, h3, p, .button {
			text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
