.staff {
	padding: 0;
	margin: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 50%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 33%);
		}

	}

	.name {
		margin-top: 20px;
	}

	.position {
		color: #666;
		font-size: .8em;
	}

}

summary.position {
	font-size: .8em;
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 1.6em;
	font-family: 'Lato', sans-serif;
    vertical-align: top;
    background: #E0E0E0;
    color: #333;
    border-radius: 3px;
    padding: 5px 5px;
    outline: none;
}
